.title {
    text-align: center;
    background-color: darkslategrey;
    color: rgb(26, 110, 207);
    padding: 20px;
}

body {
    background-color: grey;
}

.packages {
    border-style: inset;
    border-radius: 5px solid black;
}